In [41]:
import os
import pandas as pd

In [5]:
os.chdir("../..")
base_path = os.getcwd()

In [ ]:
from pyspark.sql.functions import length, col, size

In [18]:
json_path =  "/00_input/data/divisions.json"
files_path = base_path + "/00_input/_profiles_txt/file-0*"

In [34]:
data_df = spark.read.text("file://" + files_path)

In [63]:
data_pd = data_df.toPandas()

In [75]:
import string

def count_text(text):
    return len(text) - text.count(" ")

def clean_text(text):
    return "".join([char for char in text if char.isalnum() or char == " "]).lower()

In [76]:
data_pd['text_len'] = data_pd['value'].apply(lambda x: count_text(x))

In [77]:
data_pd['clear_text'] = data_pd['value'].apply(lambda x: clean_text(x))

In [78]:
data_pd

,value,text_len,clear_text
0,,0,
1,,0,
2,Professional Summary,19,professional summary
3,,0,
4,,0,
...,...,...,...
39763,Technical Skills,15,technical skills
39764,,0,
39765,,0,
39766,,0,
39767,"Programming Languages, Server-Side Scripting, ...",161,programming languages serverside scripting dat...

In [94]:
filtered_pd = data_pd[data_pd["text_len"] > 20].drop_duplicates(subset="clear_text", keep="first", inplace=False)

In [95]:
filtered_pd

,value,text_len,clear_text
5,10 years of experience in data engineering and...,60,10 years of experience in data engineering and...
6,"Hadoop and RDBMS data pipelines, transformatio...",65,hadoop and rdbms data pipelines transformation...
7,a variety of data processing and transformatio...,60,a variety of data processing and transformatio...
11,▪ Performance tune Hadoop data systems and pi...,58,performance tune hadoop data systems and pip...
12,system configuration and processing using d...,62,system configuration and processing using d...
...,...,...,...
39632,"If you have any issues with OneDrive access, t...",83,if you have any issues with onedrive access te...
39636,Final Profile Review Session:,26,final profile review session
39638,"AFTER thorough study and review, you should ha...",86,after thorough study and review you should hav...
39640,THEN you will have one FINAL PROFILE REVIEW se...,85,then you will have one final profile review se...
39767,"Programming Languages, Server-Side Scripting, ...",161,programming languages serverside scripting dat...

In [96]:
new_pd = filtered_pd["clear_text"]

In [97]:
new_pd

5        10 years of experience in data engineering and...
6        hadoop and rdbms data pipelines transformation...
7        a variety of data processing and transformatio...
11         performance tune hadoop data systems and pip...
12          system configuration and processing using d...
                               ...
39632    if you have any issues with onedrive access te...
39636                         final profile review session
39638    after thorough study and review you should hav...
39640    then you will have one final profile review se...
39767    programming languages serverside scripting dat...
Name: clear_text, Length: 8797, dtype: object

In [102]:
new_df = spark.createDataFrame(filtered_pd)

In [112]:
profile_lines = new_df.select("clear_text")
profile_lines.show(10, False)

+-------------------------------------------------------------------------+
|clear_text                                                               |
+-------------------------------------------------------------------------+
|10 years of experience in data engineering and analytics working with    |
|hadoop and rdbms data pipelines transformation and cleansing  skilled in |
|a variety of data processing and transformation tools and data storage   |
|  performance tune hadoop data systems and pipelines with optimized      |
|   system configuration and processing using data processing tools hadoop|
|   cycle apache camel apache flume kafka apatar clover and others        |
|  worked with systems employing hive rdds dataframes                     |
|  forensic analysis with large complex data sets using realtime          |
|   analytics and distributed big data platforms                          |
|  comfortable working with hadoop distributions cloudera cloudera        |
|   impala and hortonworks                                                |
|  strong in planning and development of data governance security and     |
|  deep knowledge in incremental imports partitioning and bucketing       |
|   concepts in hive and spark sql needed for optimization                |
|  experience collecting log data from various sources using various file |
|   types such as sql rdbms data lake data storage data mining            |
|  manages integration of files of various file types into hdfs using     |
|  skilled at staging data in hdfs for further analysis                   |
|  collection of log data from different sources like web server logs and |
|   social media data from facebook and twitter using flume and storing in|
+-------------------------------------------------------------------------+
only showing top 20 rows

In [115]:
profile_lines.filter(col("clear_text").contains("forensic")).show(20, False)

+----------------------------------------------------------------------+
|clear_text                                                            |
+----------------------------------------------------------------------+
|  forensic analysis with large complex data sets using realtime       |
|     skilled in data analysis and forensic analysis using hadoop tools|
|     skilled in forensic methods of data cleaning and refining data   |
|     internal forensic incident response and threat hunting using sans|
|candidate  gcfe  giac forensic examiner certification                 |
+----------------------------------------------------------------------+

In [116]:
profile_lines.filter(col("clear_text").contains("airflow")).show(20, False)

+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|clear_text                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|windows active directory windows   tez zookeeper apache airflows                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
|     replicated deployed kinesistoredshift capability in apache airflow                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
|      for airflow redshift project                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
|other  jdk  maven  streamsets  airflow  confluence  jira  pyspark                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |
|apache hue apache sqoop spark storm pig hive hdfs zookeeper tez oozie maven ant hcatalog apache drill presto airflow camel                                                                                                                                                                                                                                                                                                                                                                                                                                             |
|apache ant apache cassandra apache flume apache hadoop apache hadoop yarn apache hbase apache hcatalog apache hive apache kafka apache maven apache oozie apache pig apache spark spark streaming spark mllib graphx scipy pandas rdds dataframes datasets mesos apache tez apache zookeeper cloudera impala hdfs hortonworks apache airflow and camel apache lucene kibana xpack apache solr apache drill presto apache hue sqoop kibana tableau aws cloud foundry                                                                                                    |
|zookeeper cloudera impala hdfs hortonworks apache airflow and camel                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    |
|      airflow and camel apache hue yarn apache hive apache kafka apache                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |
|apache airflow apache camel apache flinkstratosphere hive pig sqoop flume scala python                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
|apache ant apache cassandra apache flume apache hadoop apache hadoop yarn apache hbase apache hcatalog apache hive apache kafka apache maven apache oozie apache pig apache spark spark streaming spark mllib graphx scipy pandas rdds dataframes datasets mesos apache tez apache zookeeper cloudera impala hdfs hortonworks apache airflow and camel apache lucene elasticsearch elastic cloud kibana xpack apache solr apache drill presto apache hue sqoop kibana tableau aws cloud foundry aws azure anaconda cloud elasticsearch solr lucene databricks mapreduce|
|airflow used my personal laptop to learn airflow and stand up a test cluster before pushing forward with a request to install it on cp                                                                                                                                                                                                                                                                                                                                                                                                                                 |
|wrote dags and tested airflow to verify based on business requirements                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
|wrote up requirements document for third party infogroup to install and set up airflow                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
|work on sqssensor and s3keysensors for airflow                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |
|environment hive spark pyspark emr mapr s3 airflow nltk pandas sql aws cli                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |
|apache ant apache cassandra apache flume apache hadoop apache hadoop yarn apache hbase apache hcatalog apache hive apache kafka apache maven apache oozie apache pig apache spark spark streaming spark mllib graphx scipy pandas rdds dataframes datasets mesos apache tez apache zookeeper cloudera impala hdfs hortonworks mapr mapreduce apache airflow and camel apache lucene elasticsearch elastic cloud kibana xpack apache solr apache drill presto apache hue sqoop kibana tableau aws cloud foundry github bit bucket pentaho kettle                        |
|solr apache airflow apache camel spark                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |
|apache airflow and camel apache lucene elasticsearch elastic cloud                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
|kibana tableau sqoop apache drill presto apache flume apache airflow and camel apache hue yarn apache hive apache kafka apache maven apache oozie apache pig apache spark spark streaming                                                                                                                                                                                                                                                                                                                                                                              |
|the problem was lack of functionality within the enterprise cloud platform to run automated jobs we needed to enable the data scientists to run schedulable and repeatable jobs on a massive scale both in terms of population and compute in a google cloudmicrosoft azure environment to solve the problem i created a custom solution by way of a web application using apache airflow                                                                                                                                                                              |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows